<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="pe.edu.pucp.myapplication">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Equipos"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".MonitorActivity2"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TecladoActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity">

        </activity>
        <activity
            android:name=".ComputadoraActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity">

        </activity>
        <activity
            android:name=".MonitorActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity">

        </activity>
        <activity
            android:name=".TecladoActualizar"
            android:exported="false">

        </activity>
        <activity
            android:name=".AgregarTecladoActivity"
            android:exported="true"
            android:parentActivityName=".TecladoActivity">

        </activity>
        <activity
            android:name=".AgregarComputadora"
            android:exported="true"
            android:parentActivityName=".ComputadoraActivity">

        </activity>
        <!--<activity
            android:name=".AgregarMonitorActivity"
            android:exported="true"
            android:parentActivityName=".MonitorActivity">

        </activity>-->
    </application>

</manifest>